.update-button{
    position: static;
    margin-bottom: 20px;
    border: 2px solid black;
        border-radius: 25px;
    width: 150px;
    height: 20px;
    box-shadow: 2px 2px;
    text-align: center;
    font-weight: bold;
    background-color: #B0FFF4; 
}

.header-btn{
    position: static;
    border: 2px solid rgb(3, 71, 62);
    border-radius: 25px;
    box-shadow: 2px 2px  rgb(6, 189, 164);
    text-align: center;
    font-weight: bold;
}


